:host {
    position: relative;
}

.thread-container {
    display: flex;
    justify-content: space-between;
    row-gap: 1.5vh;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
    border-radius: 8px;
}

.title {
    font-size: 16px;
    height: 18px;
}

.title-input {
    height: 18px;
    text-align: start;
    padding: 0;
}

.username {
    font-size: 12px;
    color: var(--accent-color);
}

.date {
    font-size: 12px;
}

.thread-right-side {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}