.edit-comment-buttons {
    width: 32.5%;
    display: flex;
    justify-content: space-between;
}

.edit-comment-content {
    margin: 1vh 2.5vw;
    padding: 1vh 2.5vw;
    outline: 1px var(--accent-color) solid;
}