<div class="comment-top-container">
    <div class="comment-user-container">
        <div class="comment-user-profile-img"></div>
        <div class="comment-user-titles-container">
            <h3 class="comment-user-name">{{ comment.user }}</h3>
            <p class="comment-user-title">Fanbärare</p>
        </div>
    </div>
    <div class="edit-comment-buttons">
        <button (click)="onExit()">Cancel</button>
        <button (click)="onSave()">Save</button>
    </div>
</div>
<div class="edit-comment-content" role="textarea" contenteditable="true">
    {{ comment.content }}
</div>
<p class="comment-date">{{ comment.date }}</p>