<form [formGroup]="threadForm" (ngSubmit)="createThread()" class="create-thread-content">
    <label>
        Title
        <input formControlName="title" class="title-input" type="text">
        <p *ngIf="(title.errors?.['minlength'] || title.errors?.['required']) && (title.touched || title.dirty)" class="error-message">
            Title has to contain at least 5 characters
        </p>
    </label>
    <label>
        Comment
        <textarea formControlName="comment" class="comment-textarea" (input)="autoGrowSize()"></textarea>
        <p *ngIf="(comment.errors?.['minlength'] || comment.errors?.['required']) && (comment.touched || comment.dirty)" class="error-message">
            Comment has to contain at least 20 characters
        </p>
    </label>
    <button type="submit">Send</button>
</form>