:host {
    position: relative;
    width: 70%;
    justify-self: center;
    padding: 20px 35px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
}

.create-thread-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.title-input {
    width: 40%;
    margin: 0 auto;
}

label {
    width: 100%;
    text-align: center;
}

.comment-textarea {
    width: 100%;
    min-height: 64px;
    background-color: transparent;
    margin-top: 1vh;
    padding: 1vh 1vw;
    outline: 1px var(--accent-color) solid;
    caret-color: var(--accent-color);
    color: white;
    overflow: hidden;
    resize: vertical;
}

.error-message {
    height: 0;
    color: var(--warning-color);
    font-size: var(--mini-text);
    transform: translateY(6px);
}

@media only screen and (max-width: 500px) {
    :host {
        width: 100%;
    }
}