<div *ngIf="!(isTablet$ | async)" class="header-sides"></div>
<a routerLink="/"><h1 class="home-title">Djurgårdens IF</h1></a>
<div class="header-sides">
    <svg (click)="handleColorTheme()" class="dark-light-icon" style="width:32px;height:32px" viewBox="0 0 24 24"><path d="M3.5 18.5 5 20l1.8-1.7-1.5-1.5m5.7 5.8h2v-3h-2m1-14a6 6 0 0 0-6 6 6 6 0 0 0 6 6 6 6 0 0 0 6-6 6 6 0 0 0-6-6m8 7h3v-2h-3m-2.8 7.7L19 20l1.4-1.5-1.7-1.8m1.8-12.2L19 3l-1.8 1.8 1.5 1.5M13 .5h-2v3h2m-9 7H1v2h3m2.8-7.7L5 3 3.5 4.5l1.8 1.8 1.5-1.5Z"/></svg>
    <div class="header-user-container" *ngIf="userService.loggedUserId !== 0">
        <a routerLink="/profile/{{ userService.loggedUserId }}"><p class="header-profile-name">{{ userService.user.userName }}</p></a>
        <a routerLink="/profile/{{ userService.loggedUserId }}"><img [src]="userService.user.profilePic || '../../../assets/standardprofilepic.jpg'" onError="this.src='../../../assets/standardprofilepic.jpg'" alt="profile picture" class="header-profile-img"></a>
    </div>
    <svg *ngIf="(isTablet$ | async)" (click)="showHideBurgerNavigation()" class="burger-menu" viewBox="0 0 24 24">
        <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/>
    </svg>
    <nav *ngIf="!(isTablet$ | async) && userService.loggedUserId === 0" class="header-sides">
        <a routerLink="/login" class="nav-item">Login</a>
        <a routerLink="/register" class="nav-item">Register</a>
    </nav>
</div>
<nav *ngIf="(isTablet$ | async)" class="burger-navigation">
    <ul (click)="showHideBurgerNavigation()" class="burger-ul">
        <li routerLink="/" class="burger-li">Home</li>
        <li *ngIf="sharedService.isMobile" routerLink="/side-view" class="burger-li">Who's online?</li>
        <li *ngIf="userService.loggedUserId === 0" routerLink="/login" class="burger-li">Login</li>
        <li *ngIf="userService.loggedUserId === 0" routerLink="/register" class="burger-li">Register</li>
        <li *ngIf="userService.loggedUserId !== 0" routerLink="/profile/{{ userService.loggedUserId }}" class="burger-li">Profile</li>
    </ul>
</nav>
