<div *ngIf="!(isTablet$ | async)" class="header-sides"></div>
<a routerLink="/"><h1 class="home-title">Djurgårdens IF</h1></a>
<div class="header-sides">
    <div class="header-user-container" *ngIf="userService.loggedUserId !== 0">
        <a routerLink="/profile/{{ userService.loggedUserId }}"><p class="header-profile-name">{{ userService.user.userName }}</p></a>
        <a routerLink="/profile/{{ userService.loggedUserId }}"><img [src]="userService.user.profilePic || '../../../assets/standardprofilepic.jpg'" onError="this.src='../../../assets/standardprofilepic.jpg'" alt="profile picture" class="header-profile-img"></a>
    </div>
    <svg *ngIf="(isTablet$ | async)" (click)="showHideBurgerNavigation()" class="burger-menu" viewBox="0 0 24 24">
        <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"/>
    </svg>
    <nav *ngIf="!(isTablet$ | async) && userService.loggedUserId === 0" class="header-sides">
        <a routerLink="/login" class="nav-item">Login</a>
        <a routerLink="/register" class="nav-item">Register</a>
    </nav>
</div>
<nav *ngIf="(isTablet$ | async)" class="burger-navigation">
    <ul (click)="showHideBurgerNavigation()" class="burger-ul">
        <li routerLink="/" class="burger-li">Home</li>
        <li *ngIf="sharedService.isMobile" routerLink="/side-view" class="burger-li">Who's online?</li>
        <li *ngIf="userService.loggedUserId === 0" routerLink="/login" class="burger-li">Login</li>
        <li *ngIf="userService.loggedUserId === 0" routerLink="/register" class="burger-li">Register</li>
        <li *ngIf="userService.loggedUserId !== 0" routerLink="/profile/{{ userService.loggedUserId }}" class="burger-li">Profile</li>
    </ul>
</nav>
