:host {
    position: fixed;
    height: 5vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
}

.home-title {
    color: white;
    font-size: 20px;
}

.header-sides {
    width: 20vw;
    height: 100%;
}

.header-login-register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    color: var(--accent-color);
}