:host {
    position: fixed;
    height: 5vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
}

.home-title {
    color: white;
    font-size: 20px;
}