:host {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    padding: 0 clamp(8px, 3.5 * (1vw + 1vh) / 2, 60px);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
}

.home-title {
    color: white;
    font-size: var(--large-text);
    transition: 0.2s;
}

.home-title:hover {
    color: var(--accent-color);
}

.header-sides {
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 14px;
}

.dark-light-icon {
    width: 28px;
    flex-shrink: 0;
    fill: white;
    cursor: pointer;
    transition: 0.2s;
}

.dark-light-icon:hover {
    fill: var(--accent-color);
}

.header-user-container {
    display: flex;
    align-items: center;
    column-gap: 14px;
}


.header-profile-name {
    color: var(--accent-color);
}

.header-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    background-color: white;
}

.nav-item {
    font-size: var(--medium-text);
    color: white;
    transition: 0.2s;
}

.nav-item:hover {
    color: var(--accent-color);
}

.burger-menu {
    width: 36px;
    fill: white;
    cursor: pointer;
    transition: 0.2s;
    flex-shrink: 0;
}

.burger-menu:hover {
    fill: var(--accent-color);
}

.burger-navigation {
    position: fixed;
    top: calc(6.5vh - 1px);
    left: 0;
    width: 100%;
    clip-path: inset(0 0 100% 0);
    transition-duration: 0.2s;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
}

.active-burger-navigation {
    clip-path: inset(0);
}

.burger-ul {
    display: flex;
    flex-direction: column;
    font-size: var(--large-text);
    color: white;
    padding: 0 36px;
    border-top: 1px solid var(--secondary-color);
}

.burger-li {
    padding: 24px 0;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid var(--secondary-color);
}

.burger-li:last-child {
    border: none;
}

.burger-li:hover {
    color: var(--accent-color);
}

@media only screen and (max-width: 1024px) {
    :host {
        height: 6.5vh;
    }
}