<div class="comment-top-container">
    <div class="comment-user-container">
        <a routerLink="/profile/{{ comment.userId }}"><div class="comment-user-profile-img"></div></a>
        <div class="comment-user-titles-container">
            <a routerLink="/profile/{{ comment.userId }}"><h3 class="comment-user-name">{{ comment.user }}</h3></a>
            <p class="comment-user-title">{{ comment.userTitle }}</p>
        </div>
    </div>
    <button *ngIf="userService.loggedUserId === comment.userId" (click)="editComment(comment)">Edit</button>
    <button *ngIf="userService.loggedUserId !== 0 && userService.loggedUserId !== comment.userId" (click)="replyComment(comment)">Reply</button>
</div>
<p class="comment-content">{{ comment.content }}</p>
<p class="comment-date">{{ comment.date }}</p>