:host {
    height: max-content;
    position: relative;
    display: grid;
    row-gap: 1.5vh;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: var(--card-shadow);
    border-radius: 8px;
}

.comment-top-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    min-height: 60px;
}

.comment-user-container {
    display: flex;
    column-gap: 2vw;
}

.comment-user-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    background-color: white;
}

.comment-user-titles-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.comment-user-title {
    font-size: var(--mini-text);
    color: var(--accent-color);
}

.comment-content {
    padding: 2vh 5vw;
    word-break: break-word;
    white-space: pre-wrap;
}

.comment-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: var(--mini-text);
}

.comment-card-right-side {
    width: 32.5%;
    display: flex;
    justify-content: flex-end;
    column-gap: 1vw;
}

button {
    width: var(--button-width-small);
}

.thread-creator {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--accent-color);
}

@media only screen and (max-width: 500px) {
    .comment-card-right-side {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 1vh;
    }
}