:host {
    width: 70%;
    min-height: 80vh;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-self: center;
    align-self: center;
}

@media only screen and (max-width: 1024px) {
    :host {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    :host {
        margin-top: 10vh;
        min-height: 75vh;
        width: 90%;
    }
}