:host {
    width: 85%;
    min-height: 70.5vh;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 6fr 2fr;
    justify-self: center;
    align-self: center;
    column-gap: 36px;
}

@media only screen and (max-width: 1024px) {
    :host {
        width: 90%;
    }
}

@media only screen and (max-width: 650px) {
    :host {
        grid-template-columns: 1fr;
    }
}