:host {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(0px, max-content));
    row-gap: 2.5vh;
    color: white;
}

button {
    justify-self: center;
}