:host {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    padding: 20px 35px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.add-comment-content {
    width: 100%;
    min-height: 64px;
    margin: 1vh 2.5vw;
    padding: 1vh 2.5vw;
    outline: 1px var(--accent-color) solid;
    caret-color: var(--accent-color);
}