<div *ngIf="quotedUser && quotedComment" class="user-container">
    <div class="user-titles">
        <p>{{ quotedUser.userName }}</p>
        <div class="column-breaker"></div>
        <p class="user-title">{{ quotedUser.title }}</p>
    </div>
    <p>{{ quotedComment.date }}</p>
    <div *ngIf="this.commentService.isCreatingComment === true && isQuoting === true || isEditingComment === true" (click)="removeQuote()" class="remove-quote">x</div>
</div>
<p *ngIf="quotedUser && quotedComment" class="user-comment">
    {{ quotedComment.content }}
</p>