<h2 *ngIf="thread" class="thread-title">{{ thread.title }}</h2>
<div *ngIf="paginatedComments" class="comments-container">
    <app-comment-card *ngFor="let comment of paginatedComments" [comment]="comment" [thread]="thread" (emitDeleteComment)="deleteComment($event)"></app-comment-card>
</div>
<app-thread-bottom-navigation *ngIf="comments" [pageCount]="pageCount" [threadId]="threadId" [rows]="rows" [pageButtons]="pageButtons" [(currentPage)]="currentPage" (currentPageChange)="displayPageComments(this.comments, this.rows, $event)"></app-thread-bottom-navigation>
<app-add-comment *ngIf="this.commentService.isCreatingComment === true" [comments]="comments" [paginatedComments]="paginatedComments" [(pageCount)]="pageCount" [rows]="rows" [(currentPage)]="currentPage" (currentPageChange)="displayPageComments(this.comments, this.rows, this.currentPage)" (pageCountChange)="setupPagination()" [threadId]="threadId"></app-add-comment>