:host {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0px, max-content));
    row-gap: 2.5vh;
    user-select: text;
    color: white;
}

.thread-title {
    height: 30px;
    text-align: center;
    font-size: var(--large-text);
}