:host {
    width: 70%;
    min-height: 80vh;
    margin: 10vh 0 4vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: max-content max-content max-content;
    justify-self: center;
    align-self: center;
    row-gap: 2vh;
}

.comments-container {
    grid-column: 1/2;
    height: max-content;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 2.5vh;
    color: white;
}