<img *ngIf="user" [src]="user.profileBanner || '../../../assets/standardprofilebanner.jpg'" onError="this.src='../../../assets/standardprofilebanner.jpg'" alt="profile banner" class="profile-banner">
<div *ngIf="user" class="profile-container">
    <div class="profile-top-container">
        <div class="profile-top-user-container">
            <img [src]="user.profilePic || '../../../assets/standardprofilepic.jpg'" onError="this.src='../../../assets/standardprofilepic.jpg'" alt="profile picture" class="profile-picture">
            <div>
                <h2 class="profile-username">{{ user.userName }}</h2>
                <p class="profile-title">{{ user.title }}</p>
            </div>
        </div>
    </div>
    <div class="profile-bottom-container">
        <div class="profile-navigation-container">
            <button (click)="showInfo()">Info</button>
            <button (click)="showComments()">Comments</button>
            <button (click)="showSettings()" *ngIf="this.userService.loggedUserId === user.id">Settings</button>
        </div>
        <div *ngIf="displayItem === 'info'" class="profile-information-container">
            <div class="info-item-container">
                <p>Member since:</p>
                <p>02/06/22</p>
            </div>
            <div class="info-item-container">
                <p>Favourite player:</p>
                <p>Omar Colley</p>
            </div>
            <div class="info-item-container">
                <p>Location:</p>
                <p>Spain</p>
            </div>
        </div>
        <div *ngIf="displayItem === 'comments'" class="comments-container">
            <a *ngFor="let comment of comments" routerLink="../../forum/thread/{{comment.threadId}}/1" class="comment-card"><app-comment-card [comment]="comment" [user]="user" [isBrowsingProfile]="isBrowsingProfile"></app-comment-card></a>
        </div>
        <div *ngIf="displayItem === 'settings'" class="settings-container">
            <div class="change-setting-container">
                <label>
                    Profile banner
                    <input type="text" class="profile-banner-input">
                </label>
            </div>
            <div class="change-setting-container">
                <label>
                    Profile picture
                    <input type="text" class="profile-pic-input">
                </label>
            </div>
            <div class="change-setting-container">
                <label>
                    Name
                    <input [formControl]="userName" type="text" class="profile-name-input">
                </label>
            </div>
            <button (click)="updateUser()">Update</button>
        </div>
    </div>
</div>