<img src="../../../assets/Djurgården.jpg" alt="Djurgårdare" class="background-image">
<div *ngIf="user" class="profile-container">
    <div class="profile-top-container">
        <div class="profile-top-user-container">
            <img src="{{ user.profilePic }}" alt="profile picture" class="profile-picture">
            <div>
                <h2 class="profile-username">{{ user.userName }}</h2>
                <p class="profile-title">{{ user.title }}</p>
            </div>
        </div>
    </div>
    <div class="profile-bottom-container">
        <div class="profile-navigation-container">
            <button (click)="showInfo()" class="button">Info</button>
            <button (click)="showComments()" class="button">Comments</button>
            <button (click)="showSettings()" class="button">Settings</button>
        </div>
        <div *ngIf="displayItem === 'info'" class="profile-information-container">
            <div class="info-item-container">
                <p>Member since:</p>
                <p>02/06/22</p>
            </div>
            <div class="info-breaker"></div>
            <div class="info-item-container">
                <p>Favourite player:</p>
                <p>Omar Colley</p>
            </div>
            <div class="info-breaker"></div>
            <div class="info-item-container">
                <p>Location:</p>
                <p>Spain</p>
            </div>
        </div>
        <div *ngIf="displayItem === 'comments'" class="comments-container">
            <div *ngFor="let comment of comments" class="comment-card-container">
                <div class="comment-top-container">
                    <div class="comment-user-container">
                        <a routerLink="/profile/{{ comment.userId }}"><div class="comment-user-profile-img"></div></a>
                        <div class="comment-user-titles-container">
                            <a routerLink="/profile/{{ comment.userId }}"><h3 class="comment-user-name">{{ user.userName }}</h3></a>
                            <p class="comment-user-title">{{ user.title }}</p>
                        </div>
                    </div>
                    
                </div>
                <p class="comment-content">{{ comment.content }}</p>
                <p class="comment-date">{{ comment.date }}</p>
            </div>
        </div>
        <div *ngIf="displayItem === 'settings'" class="settings-container">
            <div class="change-profile-pic-container">
                <label>
                    Profile picture
                    <input type="text" class="profile-pic-input">
                </label>
                <button (click)="uploadProfilePic()" class="button">Change</button>
            </div>
        </div>
    </div>
</div>