:root {
    --primary-color: #1561A8;
    --secondary-color: #155086;
    --accent-color: #30DAFF;
}

html, body { 
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}