:root {
    --primary-color: #1561A8;
    --secondary-color: #155086;
    --accent-color: #30DAFF;
    --warning-color: #ffdb89;
    --button-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    --card-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

html, body { 
    height: 100%;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    width: 100px;
    height: 25px;
    border: 1px var(--accent-color) solid;
    background-color: transparent;
    color: white;
    box-shadow: var(--button-shadow);
    cursor: pointer;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    background-color: transparent;
    outline: none;
    color: white;
    padding: 14px 6px 2px 6px;
    font-size: 16px;
    text-align: center;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    box-shadow: var(--primary-color) 0px 0px 0px 30px inset;
    -webkit-text-fill-color: white;
    caret-color: var(--accent-color);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px var(--accent-color) solid;
}