:host {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: max-content;
    row-gap: 2vh;
    user-select: none;
}

.thread-new-comments-button {
    grid-row: 1/2;
    justify-self: center;
}

.thread-comments-navigation {
    grid-row: 2/3;
    display: flex;
    column-gap: 6px;
    justify-self: center;
    color: white;
    font-size: var(--medium-text);
}

.thread-page-number {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--accent-color) solid;
    cursor: pointer;
    transition: 0.2s;
}

.thread-page-number:hover {
    color: var(--accent-color);
}

.thread-page-number:active {
    transform: translateY(2px);
}

.thread-button-navigation {
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
}

.active {
    color: var(--accent-color);
}