:host {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vh;
}

.thread-comments-navigation {
    grid-row: 1/2;
    display: flex;
    column-gap: 6px;
    justify-self: center;
    color: white;
    font-size: var(--medium-text);
}

.thread-page-number {
    cursor: pointer;
}

.thread-button-navigation {
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
}

.active {
    color: var(--accent-color);
}